####################################
# Dossiers de build / génération
####################################

build/
obj/
bin/
dist/

# Dossier tiers / expérimental
tier/
arch/

####################################
# Fichiers générés par GBDK / l'éditeur
####################################

*.o
*.rel
*.lst
*.map
*.sym
*.noi
*.ihx
*.lk
*.s19

####################################
# Assets intermédiaires / temporaires
####################################

*.tmp
*.bak
*.old
*.swp
*.json

####################################
# Logs
####################################

*.log
